
/* general container */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: white;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: #F6F8F9;
}
.container{
    margin:3% 10%;
    border: 5px solid #F6F8F9;
    border-radius: 2%;
}
header {
    padding:0.5% 1%;
}
img{
    vertical-align: middle;
}
h1{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-size:40px;
}
hr{
    border: 1px solid #F6F8F9;
}
.buttonsection{
    padding:2% 4% 1.5%;
}
/* utility */
.button{
    padding:0.5% 1%;
    border-radius: 5%;
    font-size:13px;
}
.tag{
    padding:0.5%;
    border-radius: 25%;
    font-size:11px;   
    }
.bgblue{
    background-color: #47ADF1;
    color: #fff;
}
.bgpurple{
    background-color: #9C72E4;
    color: #fff;
}
.bggreen{
    background-color: #64C0A9;
    color: #fff;
}
.bgorange{
    background-color: #F29E33;
    color: #fff;
}
.bgpink{
    background-color: #D863A1;
    color: #fff;
}
.bgwatergreen{
    background-color: #B0C926;
    color: #fff;
}
.bgwhite{
    background-color: #fff;
    color: #c2c5c7;
    border: 1px solid #c2c5c7;
}
/* menu */
.menu{
    margin: 3% 4%;
}
/* ul style */
ul {
    list-style: none;
    margin:0.5% 0;
  }

li{
    margin: 1% 0;
}  
ul li.done::before {
    content: "\2713";
    color: #69C3AD;
    display: inline-block; 
    font-size: 12px;
    width: 2%;
    margin-right: 1%;
    border:1px solid #69C3AD;
    border-radius:50%;
    text-align:center;
    }
ul li.undone::before {
        content: "\274C";
        display: inline-block; 
        font-size: 12px;
        width: 2%;
        margin-right: 1%;
        border:1px solid red;
        border-radius:50%;
        text-align:center;
        }